project_name    = "eks-ops"
cluster_name    = "eks-ops-cluster"
aws_region      = "ap-southeast-1"
eks_version     = "1.36"
vpc_cidr        = "10.0.0.0/16"

# Allow whitelist access eks api endpoint
cluster_endpoint_public_access_cidrs = [
  "0.0.0.0/0",
]