project_name    = "hello-project"
aws_region      = "ap-southeast-1"
eks_version     = "1.36"
vpc_cidr        = "10.0.0.0/16"
gitops_repo_url = "https://github.com/hello.git"

# Optional override
# gitops_target_revision = "main"
# argocd_chart_version     = "10.3.0"
# gitops_root_path       = "gitops/bootstrap"
